* {
    margin: 0;
    padding: 0;
}

:root {
    --menu-size: 250px;
}

input {
    caret-color: #b2b2b2;
}

::selection {
    color: #fff;
    background-color: #333;
}

/* Index */

a{
    text-decoration: none;
}
   

a.links{
    display: none;
}

.conteudo{
    display: flex;
    justify-content: center;
    width: 600px;
    min-height: 560px;
    position: absolute;    
    top: 15%;
    font-family: Poppins;
}

h2 {
    font-size: 20px;
    color:  rgb(40, 42, 54);
    padding: 2px 0 10px 0;
    font-family: Poppins;
    font-weight: 300;   
    text-align: center;
    padding-bottom: 30px;
}

p{
    margin-bottom:15px;
}
   
.content p:first-child{
    margin: 0px;
}
   
label{
    color: #405c60;
    position: relative;
}


input {
    outline: none;
}
   

input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}
   
input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: rgb(40, 42, 54);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
   
input[type="submit"]:hover{
    background:  rgb(40, 42, 54);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.link{
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
    border-radius: 0 0  5px 5px;
}
   
.link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color:  rgb(40, 42, 54);
    margin-left: 10px;
    border: 1px solid #cbd518;
    border-radius: 4px;  
    transition: all 0.4s  linear;
}
   
.link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid rgb(40, 42, 54);
}


#login{
  position: absolute;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid  rgb(40, 42, 54);
  border-radius: 5px;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.centralizar {
    display: flex;
    justify-content: center;
}
